@import './include/global';

a.main-link {
    color: #dd4814;
    font-weight: 900;

    &:hover {
        color: #923819;
        text-decoration: none;
    }
}

button.disabled,
.dropdown.disabled {
    cursor: default;
    font-style: italic;
    pointer-events: none;
}
.dropdown.disabled .title {
    font-style: italic;
}

header {
    margin-bottom: 50px;
    padding: 20px;
    font-size: 1.5em;
}

main {
    transition: max-width .2s linear;
}

pre:not(:empty) {
    background: #131313;
    border-left: 5px solid #3498DB;
    border-right: 2px solid #3498DB;
    color: #ddd;
    padding: 5px;
}

$inputColorOut: #bbb;
$inputColorIn: #00bc8c;
$inputColorEdit: #fff;

input[type='text'],
textarea {
    border: 1px solid $inputColorOut;
    border-radius: 7px;
    background: #121212;
    color: $inputColorOut;
    padding: 5px;
    outline: none;

    &:focus {
        border-color: $inputColorIn;
        box-shadow: 0 0 2px $inputColorIn;
        color: $inputColorIn;
    }

    &.edited {
        border-color: $inputColorEdit;
        color: $inputColorEdit;
    }
}

input[type='text']:disabled,
textarea:disabled {
    background: #777;
    font-style: italic;
}

$gacWidth: 620px;
.global-alert-container {
    position: fixed;
    bottom: 20px;
    left: calc(50% - #{$gacWidth * .5});
    right: calc(50% - #{$gacWidth * .5});
    text-shadow: 1px 1px 2px #000;
}

.modal-open .modal[data-backdrop='static'] {
    overflow-y: hidden;
}

.list-group-item.template {
    display: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
