$maxHeight: 770px;

#folder {
    display: inline-block;
    margin-right: 20px;
}

#list {
    margin-top: 30px;
    max-height: $maxHeight;
    min-width: 450px;
    overflow-y: auto;

    .list-group-item {
        &:not(.template) {
            display: flex;
        }
        &>div {
            width: 49.5%;

            &:first {
                margin-right: 1%;
            }
        }

        .name {
            display: block;
            margin-bottom: 5px;
        }
        .details {
            color: #888;
            display: block;
            font-size: 0.8rem;

            .date {
                display: block;
                font-style: italic;
            }
        }

        .buttons {
            margin-top: 10px;
        }
    }
}

#preview {
    .hide {
        display: none;
    }

    img,
    video {
        max-height: $maxHeight;
        max-width: 100%;
    }

    .height,
    .width {
        color: #aaa;
        font-style: italic;
        margin: 0;
        padding: 0;

        &:after {
            content: 'px';
        }
    }

    .height:before {
        content: 'height:';
        margin-right: 5px;
    }
    .width {
        margin-top: 7px;

        &:before {
            content: 'width:';
            margin-right: 5px;
        }
    }
}
