$small: 576px;
$medium: 768px;
$large: 992px;
$extra: 1200px;

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

@mixin above($size) {
    @media (min-width: #{$size}) {
        @content;
    }
}

@mixin below($size) {
    @media (max-width: #{$size}) {
        @content;
    }
}

@mixin between($min, $max) {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
    }
}

@mixin exclude($below, $above) {
    @media ((min-width: #{$below}) or (min-width: #{$above})) {
        @content;
    }
}
